/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

/* Theme Colors */
:root {
  --bg-color: #17464f;
  --text-color: #ffffff;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 2rem;
}

/* Header Section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 9%;
  background: #17464f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  cursor: default;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar a {
  color: white;
  font-weight: 600;
  transition: 0.3s;
}


.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}

/* Toggle Button */
#mode-toggle {
  margin-top: 8px;
  padding: 5px 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #17464f;
  color: white;
  font-size: 16px;
}

/* Section styling */
section.certificates {
  margin-top: 100px;
  text-align: center;
}

/* Default Light Mode */
body.light {
  background-color: #17464f;
  color: #000000;
}

/* Dark Mode */
body.dark {
  background-color: #121212;
  color: #f1f1f1;
}

.resources {
  width: 100%;
  padding: 120px 9% 60px;
  background: var(--snd-bg-color); 
  display: flex;
  justify-content: center;  
  text-align: left;       
}

.resources-content {
  max-width: 900px;
  margin: 0 auto;
}

.resources h3 {
  font-size: 2rem; 
  margin-bottom: 16px;
  color: #ffffff;
  text-align: center; 
}

.resources .lead {
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center; 
}


/*controls*/
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  flex-wrap: wrap;
  gap: 10px;
}

.controls .search input {
  padding: 10px 14px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  min-width: 260px;
}

.controls .btn {
  padding: 8px 14px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  background: #152b3a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.controls .btn:hover {
  background-color: #4f595e;
}

/*semesster cards*/

.semesters {
  display: grid;
  flex-direction: column;
  gap: 20px;
}

.semester-card {
  background: #081a27;
  border: #f3f4f6;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgb(0, 0, 0);
  overflow: hidden;
}

.semester-header {
  padding: 14px 18px;
  background: #566164;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.semester-header:hover {
  background: #0f2a36;
}

.subjects {
  display: none;
  padding: 16px 18px;
}

.subject {
  margin-bottom: 14px;
}

.subject h4 {
  margin: 0 0 6px;
  font-size: 16px;
  color: #ffffff;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.chip {
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 20px;
  background: #3ca7e99a;
  color: #fcfcfc;
  cursor: pointer;
  transition: background 0.2s;
}

.chip:hover {
  background: #17464f;
}

/*modal*/

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.modal .link {
  background: none;
  border: none;
  color: #2563eb;
  font-size: 14px;
  cursor: pointer;
}

.modal .show {
  display: flex;
}

/* Responsive */
@media (max-width: 600px) {
  .controls {
    flex-direction: column;
    align-items: stretch;
  }
  .controls .search input {
    width: 100%;
  }
}