/*import "Style.css"; */

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: #17464f;
    color: #000000;
    padding: 2rem;
}

 .container {
    display: flex;
    flex-wrap: wrap;      /* allows items to move to next row on small screens */
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

.box {
    flex: 1 1 250px;      /* flexible width, min 250px */
    background: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
  }
  
/* Responsive adjustments for smartphones */
  @media (max-width: 480px) {
    .box {
      flex: 1 1 90%;      /* one box per row */
    }
  }  

/* Page title */
h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #000000;
}

/* Grid layout */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

/* Certificate card */
.card {
    /*width: 200px;
    height: auto;*/
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(26, 70, 85, 0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(21, 67, 96, 0.15);
}

/* Logo placeholder */
.logo {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    display: inline-block;
    color: #fff;
}

/* brand color */
.logo.aws {
    background: #3a7e8c;
}

.logo.python {
    background: #3a7e8c;
}

.logo.sql {
    background: #3a7e8c;
}

.logo.robotics {
    background: #3a7e8c;
}

.logo.figma {
    background: #3a7e8c;
}

.logo.uiux {
    background: #3a7e8c;
}

.logo.gitgithub {
    background: #3a7e8c;
}

.logo.data {
    background: #3a7e8c;
}

.logo.powerbi {
    background: #3a7e8c;
}

.logo.fandc {
    background: #3a7e8c;
}

.logo.excel {
    background: #3a7e8c;
}

.logo.data {
    background: #3a7e8c;
}

.logo.iot {
    background: #3a7e8c;
}

.logo.analytics {
    background: #3a7e8c;
}

/* Certificate title */
.title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

/* Meta info */
.meta {
    font-size: 0.9rem;
    color: #116788;
    margin-bottom: 1rem;
}

/* Button */
.btn {
    text-decoration: none;
    background: #0e5178;   /*theme color */
    color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    font-size: 0.9rem;
    text-align: center;
    transition: background 0.2s ease;
}

.btn:hover {
    background: #1567ab;
}

